:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

/* Header */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

header .logo {
  font-size: var(--font-large);
}

header .logo > i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}

/* Player */
.video iframe {
  width: 100%;
  height: 100%;
}

.info .hashtags {
  padding: calc(var(--padding) / 4) var(--padding);
}

.info .hash {
  color: var(--blue-color);
  font-size: var(--font-medium);
  display: inline;
  padding: calc(var(--padding) / 3);
}

.info .title-wrap {
  padding: 0 calc(var(--padding) * 1.5);
  display: flex;
  justify-content: space-between;
}

.info .subtitle {
  padding: calc(var(--padding) / 4) calc(var(--padding) * 2);
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .infoIcons {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--padding) / 4) calc(var(--padding) * 3)
    calc(var(--padding) / 2);
}

.info .infoIcons > button > .fas {
  margin: calc(var(--padding) / 4) var(--padding);
}
.info .infoIcons > button > .clicked {
  color: var(--blue-color);
}

.user {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--padding) / 4);
  border-top: solid 1px var(--grey-light-color);
  border-bottom: solid 1px var(--grey-light-color);
}

.user .user-wrapper {
  display: flex;
  align-items: center;
  padding: calc(var(--padding) / 4) var(--padding);
}
.user .user-wrapper > img {
  height: 50px;
  border-radius: 50%;
}
.user .user-wrapper > .userInfo {
  padding: calc(var(--padding) / 4) var(--padding);
}

.user .user-wrapper .userName {
  font-size: var(--font-large);
}

.user .user-wrapper .userMoreInfo {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.user .subscribe {
  padding: calc(var(--padding) / 4) var(--padding);
}

.user .subscribe > span {
  border: solid 2px var(--grey-dark-color);
  padding: calc(var(--padding) / 4) var(--padding);
  border-radius: 5px;
}

/* Items */

.item {
  display: flex;
  padding: calc(var(--padding) / 2) var(--padding);
  justify-content: space-between;
}

.item .itemInfo-wrapper {
  display: flex;
  width: 100%;
}

.item .itemInfo-wrapper img {
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

.item button {
  position: relative;
  top: -50px;
  margin-right: 30px;
}

.item .itemInfo-wrapper .itemInfo {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
}

.item .itemInfo-wrapper .itemInfo .itemTitle {
  font-size: var(--font-large);
  padding: calc(var(--padding) / 4);
}

.item .itemInfo-wrapper .itemInfo .itemUser {
  font-size: var(--font-medium);
  padding: calc(var(--padding) / 4);
}

.item .itemInfo-wrapper .itemInfo .itemView {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
  padding: calc(var(--padding) / 4);
}
